In [1]:
from logic import Logic

In [2]:
m = Logic(4, 4)

In [3]:
m.set_table()

In [16]:
m.view_table()

        A      B      C      D      Q      R      W      T
0    True   True   True   True  False   True   True  False
1    True   True   True  False  False   True   True  False
2    True   True  False   True  False   True   True  False
3    True   True  False  False  False   True   True  False
4    True  False   True   True  False   True   True  False
5    True  False   True  False  False   True   True  False
6    True  False  False   True  False   True   True  False
7    True  False  False  False  False   True   True  False
8   False   True   True   True  False  False  False  False
9   False   True   True  False  False  False  False  False
10  False   True  False   True  False  False  False  False
11  False   True  False  False  False  False  False  False
12  False  False   True   True  False  False  False  False
13  False  False   True  False  False  False  False  False
14  False  False  False   True  False  False  False  False
15  False  False  False  False  False  False  False  False

In [5]:
x = "A&B&(C|!D)&!A"
y = "A|A"
m.set_statements([("Q",x), ("R",y), ("W","A"), ("T","B&!B")])

In [6]:
m.evaluate_statements()

In [7]:
m.if_tautologies()

[]

In [8]:
m.if_contradictions()

[('Q', 'A&B&(C|!D)&!A'), ('T', 'B&!B')]

In [9]:
m.if_contingencies()

[('R', 'A|A'), ('W', 'A')]

In [10]:
m.if_equivalences()

[(('R', 'A|A'), ('W', 'A'))]

In [11]:
m.if_logical_entailments()

[(('R', 'A|A'), ('W', 'A')), (('W', 'A'), ('R', 'A|A'))]

In [12]:
m.if_consistent()

[ True  True]
[ True  True]

True

In [13]:
range(5,5)

[]

In [14]:
x = len([("Q",x), ("R",y)])

In [15]:
range(1,2)

[1]